<div style="height:100vh;">
  <div class="row">
    <div class="col-md-12">
      <h1>{{restaurant.name}}</h1>
      <p>[{{restaurant.Category.name}}]</p>
    </div>
    <div class="col-md-4">
      <ul>
        <li>評論數：{{count}}</li>
        <li>瀏覽次數：{{viewCounts}}</li>
        <li>收藏數：</li>
      </ul>
    </div>
    <hr>
  </div>
  <br />
  <a href="javascript:history.back()">回上一頁</a>
</div>